* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: blue;
  color: white;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.navHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.bottomHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2ch;
  padding-right: 1rem;
}

.topLeftOptions {
  display: flex;
  align-items: center;
  list-style: none;
}

.topLeftOptions li {
  padding: 0.25rem;
}

.topLeftOptions li:not(:last-child) {
  border-right: 1px solid blue;
}

.mainContentContainer {
  display: flex;
  min-width: 1280px;
  padding: 0.25rem;
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 25ch;
  padding: 0.25rem;
}

.sideNavContainer a {
  background: blue;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
}

.productCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: 25rem;
  gap: 0.5rem;
}
.footerContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  background-color: blue;
  padding: 2rem 0.5rem;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footerContainer h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  padding: 0.25rem 0;
  color: white;
}

.footerContainer menu {
  list-style: none;
  color: white;
}

.bottomMenuList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
