* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eee;
}

a {
  text-decoration: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: #4444bb;
  color: white;
}

.productMiniContainers img {
  width: 100%;
  height: 10em;
  object-fit: cover;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.navHeaderContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  background-color: #4444bb;
  margin: 0 auto;
}

.bottomHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25rem;
  max-width: 1280px;
  margin: 0 auto;
}

.bottomHeaderContainer h1 {
  padding: 1rem;
  text-align: center;
  color: #4444bb;
  font-weight: normal;
}

.bottomHeaderContainer div a {
  display: block;
  background: rgb(212, 8, 8);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0.7rem;
  flex-shrink: 0;
}

.searchContainer {
  display: flex;
  flex: 1;
}

.searchContainer input {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border: 0;
  border-bottom: 1px solid #4444bb;
}

.topContainer {
  padding: 0.25rem;
  background-color: #4444bb;
}

.topLeftOptions {
  display: flex;
  align-items: center;
  list-style: none;
}

.topLeftOptions li {
  padding: 0.25rem;
}

.topLeftOptions li a {
  color: white;
}

.topLeftOptions li:not(:last-child) {
  border-right: 1px solid white;
}

.topRightOptions {
  display: none;
  align-items: center;
  list-style: none;
}

.topRightOptions li {
  padding: 0.25rem;
}

.topRightOptions li a {
  color: white;
}
.topRightOptions li:not(:last-child) {
  border-right: 1px solid white;
}

.mainContentContainer {
  max-width: 1280px;
  padding: 0.25rem;
  margin: 0 auto;
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 25ch;
  padding: 0.25rem;
}

.sideNavContainer a {
  background: #4444bb;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
}

main {
  padding: 0.25rem;
  padding-right: 0.5rem;
}

.productCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: 28rem;
  gap: 0.5rem;
}

.productMiniContainers {
  display: flex;
  flex-direction: column;
}

.productMiniContainers h2 {
  background-color: #4444bb;
  color: white;
  padding: 1rem 0.5rem;
  margin: 0;
}

.productMiniContainers p {
  flex: 1;
  padding: 0.5rem;
}

.productMiniContainers footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4444bb;
  color: white;
  padding: 0.5rem;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #4444bb;
  padding: 2rem 0.5rem;
}

.footerContainer h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  padding: 0.25rem 0;
  color: white;
}

.footerContainer menu {
  list-style: none;
  color: white;
}

.bottomMenuList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 720px) {
  .topRightOptions {
    display: flex;
    align-items: center;
  }
  .bottomHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2ch;
  }
  .mainContentContainer {
    display: flex;
  }
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
