* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: blue;
  color: white;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.navHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.bottomHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2ch;
  padding-right: 1rem;
}

.mainContentContainer {
  display: flex;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0.25rem;
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 25ch;
  padding: 0.25rem;
}

.sideNavContainer a {
  background: blue;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
}
